* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
  h1 {
    font-size: 79px;
    color: #ffffff;
    font-weight: 700;
  } 
  h2 {
    font-size: 36px;
    color: #4e4e4e;
    position: relative;
    padding-bottom: 10px;
    display: inline-block;
  }
  
  h2::after {
       content: "";
      position: absolute;
      background: url(../images/header-line.png) no-repeat;
      width: 100px;
      left: 0;
      height: 5px;
      bottom: 0;
      right: 0;
      margin: 0 auto;
  }
  
  h3 {
    font-size: 18px;
    line-height: 40px;
    color: #717171;
    font-weight: 700;
  }
  p {
    line-height: 2.4;
    color: #343232cf;
    font-weight: 300;
  }
  .container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
  }
 
  button {
    border: none;
  }
  .btn {
    padding: 24px 33px;
    font-size: 13px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    vertical-align: top;
  }
  .green {
    background-color: #17cfab;
    border-top: 2px solid white;
    border-radius: 3px;
  }
  .blue {
    background-color: #00cbf5;
    border-top: 2px solid white;
    border-radius: 3px;
  }
  .header .container {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    padding: 15px 0;
  }
  .navbar a {
    color: white;
    padding: 41px 0;
    display: inline-block;
  }
  
  .header {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
  }
  .navbar {
    margin-left: auto;
  }
  
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  li {
    list-style: none;
    padding: 0 10px;
  }
  .content {
    margin-bottom: 125px;
  }
  .content p {
    color: #d4d4d4;
  }
  .button-secone {
    display: flex;
    margin-top: 123px;
    margin-left: 408px;
    height: 65px;
  }
  
  .First-section{
    background-color: gray;
    background: url(../Images/slider1.jpg) no-repeat center/cover;
    padding-top: 360px;
    padding-bottom: 240px;
    text-align: center;
    width: 100%;
  }
  .strong-text {
    font-size: 36px;
    color: #ffffff;
  }
  span {
    color: #17cfab;
  }
  
  .Second-section {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .img-two {
    width: 25%;
    text-align: center;
    background-color: #1b2933;
    border-top: 4px solid #17cfab;
    padding: 87px 15px 115px;
  }
  .img-two:nth-child(even) {
    background-color: #17cfab;
    border-top: 4px solid white;
  }
  .img-two p {
    color: #17cfab;
  }
  .img-two:nth-child(even) p {
    color: white;
  }
  .img-content {
    margin-top: 38px;
  }
  
  .Third-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .content-three {
    width: 33.33%;
  }
  .heading-three {
    text-align: center;
    margin-top: 98px;
    margin-bottom: 115px;
  }
  .content-three {
    width: 33.33%;
    margin-bottom: 80px;
    padding: 0 37px;
  }
  .content-three:hover h3 {
    color: #17cfab;
  }
  .icon {
    background-color: #17cfab;
    height: 13px;
    width: 15px;
    display: inline-block;
    margin-right: 9px;
  }
 
  .about-our-cmpny {
    background-color: rgb(46, 44, 44);
    padding: 80px 0;
  }
  .content-four {
    width: 50%;
    margin-left: auto;
  }
  .Fourth-section {
    display: flex;
  }
  .heading-four {
    color: #d4d4d4;
  }
  
  .heading-five {
    color: white;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 65px;
  }
  
  .ul-four {
    display: flex;
    margin-bottom: 40px;
  }
  .ul-four li {
    color: white;
  }
  a {
    color: white;
  }
  .progress-bar {
    border: 1px solid #ddd3;
    margin-bottom: 15px;
  }
  .progress {
    padding: 10px 15px;
   
    width: 80%;
    text-transform: uppercase;
    background: #fff;
  }
  .progress.interface{
    background:#9b5ca5 ;
    width: 70%;
  }
  .progress.design{
    background:#11afdd ;
     width: 80%;
  }
  .progress.wordpress{
    background:#d57f7f ;
     width: 65%;
  }
  .progress.html-css{ 
    background:#1fbb9d ;
     width: 95%;
  }
  .progress.app-design{
    background:#bb8935 ;
     width: 90%;
  }
 
  .our-serviecs {
    background-color: #ffffff;
  }
  .heading-secsix {
    text-align: center;
    padding-top: 97px;
    padding-bottom: 105px;
  }
  .nav-sec-six a {
    color: black;
  }
  .nav-sec-six {
    padding-bottom: 25px;
  }
  
  .ul-five {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(200 197 197 / 31%);
    border-top: 2px solid rgb(200 197 197 / 31%);
  }
  .li-five {
    border-right: 2px solid rgb(200 197 197 / 31%);
  
    padding: 10px 44px;
  }
  
  .li-five:first-child {
    border-left: 2px solid rgb(200 197 197 / 31%);
  }
  
  .inner-sec-six {
    display: flex;
    margin-bottom: 107px;
  }
  .img-service {
    width: 23%;
    margin-right: 24px;
  }
  .img-six {
    width: 100%;
  }
  .sec-six {
    width: 75%;
  }
 
  .sec-seven {
    background: url(../images/slider1.jpg) no-repeat;
    width: 100%;
  }
  section.sec-seven {
    position: relative;
  }
  .heading-seven {
    margin-bottom: 21px;
    font-size: 40px;
    line-height: 40px;
    color: #18cfab;
    font-weight: 700;
  }
  
  .container-seven {
    text-align: center;
    padding: 100px 0;
  }
  .para-seven p {
    color: white;
    text-align: center;
    margin-bottom: 71px;
  }
  
  button {
    border: none;
  }
  
 
  
